body {

    /* Background image styling */
    /* https://css-tricks.com/perfect-full-page-background-image/, but expanded to allow for fallback color */
    background-color: rgb(35, 35, 35);
    background-image: url("/img/blog-background-2.png"); /* TODO: scale image more realistically */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Fonts */
@font-face {
    font-family: 'CenturySchoolbookBold';
    src: url('/font/century_schoolbook_std_bold-webfont.woff2') format('woff2'),
    url('/font/century_schoolbook_std_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CenturySchoolbookRegular';
    src: url('/font/century_schoolbook_std_regular-webfont.woff2') format('woff2'),
    url('/font/century_schoolbook_std_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Centaur';
    src: url('/font/centaur-webfont.woff2') format('woff2'),
    url('/font/centaur-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.post-subtitle {
    font-family: "CenturySchoolbookRegular", Times, serif;
    font-size: 2rem;
}
.post-title {
    font-family: "CenturySchoolbookBold", Times, serif;
    font-size: 3.5rem;
}
nav {
    font-family: 'Centaur', Times, serif;
    font-size: 2.75rem;
    font-weight: bold;
    /*font-stretch: 150%;*/
}

/* Stretch the sidebar text vertically */
nav > div > p { /* https://www.w3docs.com/snippets/css/how-to-stretch-a-text-with-css.html */
    transform: scale(1, 1.62);
    -webkit-transform: scale(1, 1.62);
    -moz-transform: scale(1, 1.62);
    -o-transform: scale(1, 1.62);
    /*transform-origin: 0% 70%;*/
}


/* Create flex columns, align text within */
body { display: flex; flex-direction: row; }
#sidebar { width: 20%; }
#main { width: 80%; text-align: right; }

a {
    text-decoration: none;
}

#sidebar, #sidebar a {
    color: rgb(186,	186, 186); /* TODO */
}
#sidebar a.current-page {
    color: #00afff;
}
#sidebar a.current-page:hover {
    color: #008bcc;
}
#sidebar a:hover {
    color: #868686;
}


nav {
    /* vertical centering */
    position: absolute;
    top: max(50%, 19rem); /* TODO, this prevents the main content form hitting the title, but the rem amount will need to be adjusted based on the final font size of the title*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#sidebar {
    text-align: center;
}


/* horizontal centering of sidebar links */
nav { width: 20%; }
nav > div { display: inline-block; text-align: left; }



/* display posts inline so the background stays only near text */
.post-container {
    display: inline-block;
    padding-right: 0.25em;
}

.post {
    padding: 1em 0;
}

.post a {
    color: #232323;
}


p.post-title {
    margin: 0;
}


p.post-subtitle {
    margin: 0.5em 0 0;
}


/* Border Line*/
#sidebar {
    border-right: solid rgb(186,186, 186);
    border-width: 1px;
    height: 100vh;
}

body {margin:0;padding:0;}
