body {

    /* Background image styling */
    /* https://css-tricks.com/perfect-full-page-background-image/, but expanded to allow for fallback color */
    background-color: rgb(35, 35, 35);
    background-image: url("/img/background-candidate-post-2-SfW-80.jpg"); /* TODO: scale image more realistically */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#sidebar, div#main {
    /*background-color: rgba(35, 35, 34, .75);*/
}

#main {
    text-align: left;
}

@font-face {
    font-family: 'CenturySchoolbookRegular';
    src: url('/font/century_schoolbook_std_regular-webfont.woff2') format('woff2'),
    url('/font/century_schoolbook_std_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#main h1 {
    font-family: "CenturySchoolbookRegular", Times, serif;
    font-size: 3rem;
    color: #232322;
    background-color: #8CA07E;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5rem;
}

#post-body, #post-metadata {
    color: rgb(186,186, 186);
    font-size: 1rem;
    font-family: monospace;

    background-color: rgba(35, 35, 34, .90);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    max-width: 70ch;
    line-height: 1.25;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


#post-body a, #post-metadata a {
    color: #03af5f;
}

#post-body a:hover, #post-metadata a {
    color: #027c43;
}


#post-metadata {
    margin-left: 1rem;
    display: inline-block;
    /*background-color: rgba(35, 35, 34, .90);*/
    /*color: #bababa;*/
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
    margin-bottom: 1rem;
}

#post-metadata > h2 {
    font-style: italic;
    margin: 0;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    height: auto;

    /*filter: drop-shadow(0 10px 4px #4444dd);*/
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
}